*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
myapplication
myapplication2
/cos-android/src/androidTest/java/com/tencent/cos/xml/core/TestConfig.java